
{{ $data := index $.Page.Params (.Get 0) }}

{{ if and site.Params.map.engine $data.coordinates.latitude }}
<div class="d-none">
  <input id="map-provider" value="{{ site.Params.map.engine }}">
  <input id="map-lat" value="{{ $data.coordinates.latitude }}">
  <input id="map-lng" value="{{ $data.coordinates.longitude }}">
  <input id="map-dir" value="{{ $data.address }}">
  <input id="map-zoom" value="{{ site.Params.map.zoom | default "15" }}">
  <input id="map-api-key" value="{{ site.Params.map.api_key }}">
</div>
<div id="map"></div>
{{ end }}
